.ant-card .ant-card-body {
	padding: 0;
}
.section {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	gap: 15px;
}
.section img {
	width: 10%;
	height: 10%;
}
.section div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 800;
}
